<div id="header-nav">
  <%= link_to 'Products', office_products_url %>
  <%= link_to 'Tags', office_tag_sets_url %>
  <%= link_to 'Configs', office_cart_configs_url %>
  <%= link_to 'Customers', office_customers_url %>
  <%= link_to 'Errors', office_error_messages_url %>
  <%= link_to 'Coupons', office_coupons_url %>
  <%= link_to 'Receipts', office_carts_url %>
</div>
